table{
    border-collapse: collapse;
}

thead, tr td, tr th {
    border: 2px solid #000;
    padding: 2px 6px;
    text-align: center;
  }

.impar{
    background: #CCC;
}
.destaque{
    background: #000;color: #fff;
}
.tooltip{
    width: 180px;
    padding: 2px 4px;
    margin-top: 25px;
    border: 1px solid #000;
    color: #000;
    background: #DDD;
    position: absolute;
}
.sub th{
    text-align: left;
    background: #DDD;
}

.maisMenos{
    max-width: 15px;
    max-height: 15px;
    width: auto;
    padding: 3px;
}
